html {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

* {
  box-sizing: border-box;
}